/tramites.cliente/target/
*.class

*.class
*.class
*.class



tramites.cliente/target/classes/org/una/tramites/cliente/App.class

*.class

tramites.cliente/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.class
